.infobox {
  display: flex;
  padding: 0.5rem 0.5rem;
  font-size: medium;
  @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
  }

  :last-child {
    padding-left: 0.4rem;
  }

  &.infobox-success {
    color: #3c763d;
  }

  &.infobox-info {
    color: #31708f;
  }

  &.infobox-danger {
    color: #a94442;
  }
}
[data-theme='dark'] {
  .infobox.infobox-success {
    color: #d8fed8;
  }

  .infobox.infobox-info {
    color: #cde3ee;
  }

  .infobox.infobox-danger {
    color: #e3c2c2;
  }
}